<form class="mb-10" (submit)="updateDimensions()">
  <div [class.error]="!validateBase(dimensions.base)" data-tip="Invalid base">
    <label for="base"
      >Base
      <input
        type="number"
        name="base"
        id="base"
        placeholder="Type the base here"
        min="2"
        max="36"
        [(ngModel)]="dimensions.base"
      />
    </label>
  </div>
  <div
    [class.error]="!validateDigits(dimensions.digits)"
    data-tip="Invalid number of digits"
  >
    <label for="digits">
      Digits
      <input
        type="number"
        name="digits"
        id="digits"
        placeholder="Type the number of digits here"
        min="1"
        [(ngModel)]="dimensions.digits"
      />
    </label>
  </div>
  <input class="btn btn-primary" type="submit" value="Enter" />
</form>

<form>
  <div
    [class.error]="!validateValue(value, dimensions)"
    data-tip="Invalid value"
  >
    <label for="value"
      >Value
      <input
        #valueInput
        type="number"
        name="value"
        id="value"
        placeholder="Type the value here"
        min="0"
        [(ngModel)]="value"
        (ngModelChange)="updateValue()"
    /></label>
  </div>
  <div class="flex gap-2">
    <input
      type="button"
      class="btn btn-success flex-1"
      (click)="addValue()"
      value="+"
    />
    <input
      class="btn btn-error flex-1"
      type="button"
      (click)="subtractValue()"
      value="&minus;"
    />
  </div>
  <input
    class="btn btn-primary"
    type="button"
    (click)="resetValue()"
    value="Reset"
  />
</form>
