<div
  class="grid gap-5"
  [style.--rows]="dimensions.digits"
  [style.--cols]="dimensions.base + 1"
>
  @for (digit of digits; track $index) {
    <div class="grid-item border-primary bg-base-200 text-primary">
      {{ dimensions.base }}<sup>{{ $index }}</sup>
    </div>

    @for (number of numbers; track $index) {
      <div
        class="h-5 w-5"
        [className]="
          number === digit
            ? 'grid-item border-secondary-content bg-secondary text-secondary-content'
            : 'grid-item border-secondary bg-base-200 text-secondary'
        "
      >
        {{ number.toString(dimensions.base) }}
      </div>
    }
  }
</div>
