<div
  class="abacus"
  [style.height]="
    ((dimensions.base < 6 ? 2.5 * dimensions.base : 12.5) +
      0.5 * dimensions.base) *
      2 +
    2.5 +
    'rem'
  "
>
  @for (digit of digits; track $index) {
    <div class="flex flex-col gap-2">
      <span
        class="h-10 w-10 place-content-center rounded-lg border-2 border-secondary bg-base-200 text-center font-semibold text-secondary"
      >
        {{ dimensions.base }}<sup>{{ $index }}</sup>
      </span>

      @for (number of numbers; track $index) {
        <span
          class="max-h-10 w-10 rounded-2xl bg-primary"
          [style.height]="12.5 / dimensions.base + 'rem'"
          [style.marginTop]="
            number === digit
              ? (dimensions.base < 6 ? 2.5 * dimensions.base : 12.5) +
                0.5 * dimensions.base +
                'rem'
              : ''
          "
        ></span>
      }
    </div>
  }
</div>
